@media (max-width:992px) {
    /* #navvii{
        margin-left: 30px;
        color: blue;
    } */
    ul.navbar-nav.me-auto li.nav-item,
    ul.navbar-nav.ms-auto li.nav-item{
        margin-left: 30px;
    }
    .navbar-toggler{
        border:none;
    }
}
.navbar-toggler{
    border:none;
}
.active{
    background-color: grey;
    color: white;
    border-radius: 2px 10px;
}
navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index as needed */
}


/* Add this CSS to your stylesheet or in a <style> tag in your HTML */

/* Home icon */

        .icon-fill {
            display: none;
        }
        .nav-link.active .icon-fill {
            display: inline;
        }
        .nav-link.active .icon {
            display: none;
        }
