@media (max-width:992px) {
    /* #navvii{
        margin-left: 30px;
        color: blue;
    } */
    ul.navbar-nav.me-auto li.nav-item,
    ul.navbar-nav.ms-auto li.nav-item{
        margin-left: 30px;
    }
    .navbar-toggler{
        border:none;
    }
}
.navbar-toggler{
    border:none;
}
.active{
    background-color: grey;
    color: white;
    border-radius: 2px 10px;
}
#example_length,
#example_filter{
    visibility: hidden;
}