body {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 a {
    text-decoration: none;
    color: white;
}

nav h1 a:hover {
    text-decoration: underline 1px;
    color: blue;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 0 10px;
}

table {
    border: solid blue;
}

.btn {
    background-color: blue;
    border-radius: 6px;
}