@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,100&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Roboto Mono', monospace; */
body {
    overflow-x: hidden;
    background-color: #DAD7CD !important;
}
main{
    background-color: #DAD7CD ;
    font-family: 'Roboto Mono', monospace ;
}
@media (max-width:992px) {
    ul.navbar-nav.me-auto li.nav-item,
    ul.navbar-nav.ms-auto li.nav-item {
        margin-left: 30px;
    }
    .navbar-toggler {
        border: none;
    }
}
nav{
    z-index: 2;
}

.navbar-toggler {
    border: none;
}
.navigation{
    background-color: #344E41;
}
.navigationContent{
    color: #DAD7CD !important;
}
.navigationContent.active{
    color: #3A5A40 !important;
}

img {
    width: 120px;
    height: 120px;
}
/* Base styles for icons */
.icon,
.icon-fill {
    display: inline;
}

/* Hide filled icons by default */
.icon-fill {
    display: none;
}

/* Styles for active links */


/* Hide icons when the link is active and show filled icons */
.nav-link.active .icon {
    display: none;
}

.nav-link.active .icon-fill {
    display: inline;
    
}

